---
import { app } from "@/firebase/server"
import { getAuth } from "firebase-admin/auth"
import Layout from "../layouts/Layout.astro"
import Card from "@/components/dashboard/Card.tsx"

interface Url {
  id: string
  slug: string
  url: string
  description: string,
  userId: string
}

const auth = getAuth(app)
if (!Astro.cookies.has("session")) {
  return Astro.redirect("/");
}
const sessionCookie = Astro.cookies.get("session").value;
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
const user = await auth.getUser(decodedCookie.uid);

if (!user) {
  return Astro.redirect("/");
}

const userUid = user.uid;

const res = await fetch(`https://tinyify.vercel.app/api/urls?userUid=${userUid}`)
const urls: Url[] = await res.json()
---

<Layout title="Tinyify - Dashboard">
  <header class="flex flex-row justify-between items-center w-3/4 m-auto">
    <h3 class="text-xl">Dashboard</h3>
    <a class="text-lg hover:underline" href="/create">Create New Link</a>
  </header>
  <hr class="border-slate-900 m-5">
  <main>
    <div class="grid-cols-autofit w-full">
      {
        urls.map(url => (
            <Card urlId={url.id} slug={url.slug} url={url.url} description={url.description} client:load />
        ))
      }
      {
        urls.length === 0 && (
          <div class="w-full text-center">
            <h3 class="text-xl">No URLs found</h3>
          </div>
        )
      }
    </div>
  </main>
</Layout>

<style>
  .grid-cols-autofit {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
</style>