---
interface Props {
  slug: string;
  url: string;
  id: string;
}

const { slug, url, id } = Astro.props;
---

<div class="border border-slate-900 p-4 m-4 relative">
  <a href={`/s/${slug}`} class="text-xl block hover:underline">/s/{slug}</a>
  <span class="text-gray-400 text-lg">{url}</span>
  <span class="text-gray-400 text-lg">{id}</span>
  <button
    class="text-gray-400 hover:text-white transition" id={`delete-${id}`}
    >borrar</button
  >
</div>

<script>
  //TODO: write delete logic
</script>
